<main>
  <section id="title-section">
    <h2>{{welcomeText.title}}</h2>
    <h1>RS Project Manager</h1>
    <h3>{{welcomeText.creators}}</h3>
  </section>

  <h2 id="team-section-title">{{welcomeText.teamHeader}}</h2>
  <section id="team-section">

    <div class="team-section-card">
      <h3>Uladziby</h3>
      <img src="../../../../assets/author1.svg">
      <p class="duty">{{welcomeText.lid}}</p>
      <p>{{welcomeText.vlad}}</p>
    </div>
    <div class="team-section-card">
      <h3>Elina-nep</h3>
      <img src="../../../../assets/author2.svg">
      <p class="duty">{{welcomeText.develop}}</p>
      <p>{{welcomeText.elina}}</p>
    </div>
    <div class="team-section-card">
      <h3>Alexpodelinskii</h3>
      <img src="../../../../assets/author3.svg">
      <p class="duty">{{welcomeText.develop}}</p>
      <p>{{welcomeText.sasha}}</p>
    </div>
  </section>
</main>
