<form class="registration" [formGroup]="form" (ngSubmit)="signin()">
  <h2 class="title">
    Вход
  </h2>


  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Логин</mat-label>
    <input type="text" matInput formControlName="login" placeholder="Логин">
    <mat-error *ngIf="form.get('login')?.touched && form.get('login')?.invalid">
      Поле не может быть пустым
    </mat-error>

  </mat-form-field>


  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Пароль:</mat-label>
    <input type="password" matInput formControlName="password" placeholder="pass">
    <mat-error *ngIf="form.get('password')?.errors?.['required']">
      Поле не может быть пустым
    </mat-error>
    <mat-error *ngIf="!form.get('password')?.errors?.['required']">
      Минимальныя длина пароля
      {{form.get('password')?.errors?.['minlength']?.['requiredLength']}}
      символа.
    </mat-error>
  </mat-form-field>



  <div class="msg-block" *ngIf=" form.invalid||notFound">
    <div *ngIf=" form.invalid" class="alert">
      Для входа все поля должны быть заполненны.
    </div>

    <div *ngIf=" !form.invalid&&notFound" class="notFound">
      Пользователь с таким логином и паролем не найден
    </div>
  </div>

  <div class="btn-block" *ngIf=" !(form.invalid||notFound)">
    <button type="submit" mat-raised-button color="primary" class="btn"
      [disabled]="form.invalid || form.disabled">Submit</button>
  </div>



</form>