input {
  &.ng-invalid.ng-touched {
    border: 1px solid rgb(177, 5, 5);
  }

  &.ng-valid.ng-touched {
    border: 1px solid rgb(6, 99, 6);
  }

}

.form-control{

  margin-bottom: 7px;
height: 3em;
width: 320px;
}
.input-block{
  display: flex;
  justify-content: space-between;
 
}
.valid {
  color: rgb(177, 5, 5);
  font-size: 14px;

}
.msg-block{
  height: 2.5em;
  display: flex;
  align-items: center;
}
.notFound{
  color: rgb(177, 5, 5);
}
.btn{
  margin: 0 auto;
  display: block;
}