.wrapper{
    background-color: rgb(176, 190, 197);
    padding-top: 1.34375em;
    display: flex;
    justify-content:center;
    border-radius: 5px;
    margin: 15px 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px ;
    @media( max-width:400px) {
        flex-wrap: wrap;
      }
}
.result{
   color: black;  
}
.resultField{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
 
  padding: 15px; 
 
}
.task{
    background-color: #b0bec5;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    min-height: 100px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

}
.task_item{
    margin-bottom: 3px;
}
.task_item-title{
    font-weight:500;
}
.select-field{
    width: 120px;
}
.input-field{
    width: 100%;
    max-width: 320px;
}
.alert{
    text-align: center;
}