.board {
  background-color: #b0bec5;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  height: 60px;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  color: #c2185b;
  cursor: pointer;
}

.board:hover .delete-button {
  display: inherit;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
