<header (scroll)="onScroll()">


  <mat-toolbar layout="row" color="accent" [ngClass]="navbarFixed ? 'fixed' : 'nofixed'">
    <ng-container>
      <div class="logo" (click)="toBoards()">
        PM
      </div>
    </ng-container>

    <mat-slide-toggle [(ngModel)]="slideToggle" (change)="OnChangeLang()">
      {{ this.lang$ | async }}
    </mat-slide-toggle>
    <button mat-button color="primary" [disabled]="!onCheckLogin()" (click)="newBoard()">
      <mat-icon> add </mat-icon>
      {{headerText.create}}
    </button>
    <mat-accordion *ngIf="onCheckLogin()">
      <mat-expansion-panel role="button" color="accent" class="user_menu" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            <button mat-mini-fab color="primary">
              <mat-icon> person </mat-icon>
            </button>
            <span class="name_user"> Hello, {{state.user.name}} </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="btn_menu" mat-flat-button (click)="editProfile()">
          {{headerText.edit}}
        </button>
        <button class="btn_menu" mat-flat-button (click)="OnLogout()">
          {{headerText.logout}}
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="!onCheckLogin()">
      <div class="btns_login">
        <button mat-button color="primary" (click)="OnLogin()">Login</button>
        <button mat-button color="primary" (click)="OnSignUp()">SignUp</button>
      </div>
    </ng-container>
  </mat-toolbar>
</header>