<form class="registration" [formGroup]="form" (ngSubmit)="regUser()">
  <h2 class="title">
    Регистрация
  </h2>

  <div class="form-control">
    <label>Логин:</label>
    <input type="text" formControlName="login">
    <div class="valid" *ngIf="form.get('login')?.touched && form.get('login')?.invalid">
      Поле не может быть пустым
    </div>
  </div>

  <div class=" form-control">
    <label> Имя:</label>
    <input type="text" formControlName="name">
    <div class="valid" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
      Поле не может быть пустым.
    </div>
  </div>

  <div [formGroup]="pass">

    <div class="form-control">
      <label>Пароль:</label>
      <input type="password" formControlName="password">
      <div class="valid" *ngIf="pass.get('password')?.touched && pass.get('password')?.invalid">
        <span *ngIf="pass.get('password')?.errors?.['required']">Поле не может быть пустым.</span>
        <span>Минимальныя длина пароля {{pass.get('password')?.errors?.['minlength']?.['requiredLength']}}
          символа.</span>
      </div>
    </div>

    <div class="form-control">
      <label>Подтверждение пароля:</label>
      <input type="password" formControlName="passwordConfirm" [class.redBorder]="pass.errors?.['custom']">
      <div class="valid" *ngIf="pass.get('passwordConfirm')?.touched && pass.get('passwordConfirm')?.invalid">
        <span *ngIf="pass.get('passwordConfirm')?.errors?.['required']">Поле не может быть пустым.</span>
        <span *ngIf="!(pass.errors?.['custom']||pass.get('passwordConfirm')?.errors?.['required'])">Минимальныя длина
          пароля
          {{pass.get('passwordConfirm')?.errors?.['minlength']?.['requiredLength']}}
          символа.</span>
        <span *ngIf="pass.errors?.['custom']">Пароли не совпадают</span>
      </div>
    </div>
  </div>

  <div *ngIf=" form.invalid" class="alert">
    Для регистрации все поля должны быть заполненны.
  </div>

  <button type="submit" class="btn" [disabled]="form.invalid">Регистрировать</button>
</form>
