<form class="registration" [formGroup]="form" (ngSubmit)="regUser()">
  <h2 class="title">
    Регистрация
  </h2>


  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Логин</mat-label>
    <input type="text" matInput formControlName="login" placeholder="Логин">
    <mat-error *ngIf="form.get('login')?.touched && form.get('login')?.invalid">
      Поле не может быть пустым
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Имя</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Имя">
    <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
      Поле не может быть пустым
    </mat-error>
  </mat-form-field>

  <div [formGroup]="pass" class="pass-form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Пароль:</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Пароль">
      <mat-error *ngIf="pass.get('password')?.errors?.['required']">
        Поле не может быть пустым
      </mat-error>
      <mat-error *ngIf="pass.get('password')?.errors?.['minlength']">
        Минимальныя длина пароля
        {{pass.get('password')?.errors?.['minlength']?.['requiredLength']}}
        символа.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Подтверждение пароля:</mat-label>
      <input type="password" matInput formControlName="passwordConfirm" placeholder="Подтверждение пароля">
      <mat-error *ngIf="pass.get('passwordConfirm')?.errors?.['required']">
        Поле не может быть пустым
      </mat-error>
      <mat-error *ngIf="pass.get('passwordConfirm')?.errors?.['minlength']">
        Минимальныя длина пароля
        {{pass.get('passwordConfirm')?.errors?.['minlength']?.['requiredLength']}}
        символа.
      </mat-error>
      <mat-error *ngIf="pass.get('passwordConfirm')?.errors?.['custom']">
        Пароли не совпадают.
      </mat-error>
    </mat-form-field>
    <div *ngIf="pass.errors?.['custom']">
      Пароли не совпадают.
    </div>
  </div>

  <div *ngIf=" form.invalid" class="msg-block">
    Для регистрации все поля должны быть заполненны.
  </div>
  <div *ngIf=" sucsess" class="msg-block alert-sucsess">
    Пользователь успешно зарегистрирован
  </div>
  <div *ngIf="badReg" class="msg-block alert-badReg">
    Что-то пошло не так, попробуйте еще раз.
  </div>
  <div *ngIf="wrongLogin" class="msg-block alert-badReg">
    Подьзователь с таким логином уже зарегистрирован
  </div>

  <div class="btn-block" *ngIf=" !(form.invalid||wrongLogin||badReg)">
    <button type="submit" mat-raised-button color="primary" class="btn"
      [disabled]="form.invalid || form.disabled">Submit</button>
  </div>

</form>